<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />

    <!-- <script src="scripts.js"></script> -->

  </head>
  <body style="padding: 1rem"> Add this to the section.
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            src="Images/location_17675754.gif"
            alt="A happy smilling customer"
          />
        </div>

        <div>
          <blockquote class="quote">
            <footer>
              <div class="media">
                <div class="media__image"></div>
                <div class="media__body">
                  <h3 class="media__title quote__author">ABOUT ME</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Nobis, laborum aperiam. Rem, impedit? Debitis dolorum
                    tenetur eaque odit, qui ullam excepturi, vel vitae, quia
                    nulla minus cumque. Facere, provident ess.
                  </p>
                  <ul class="top">
                    <li><button id="downloadCV">Download CV</button></li>
                    
                    <li><a href="#" id="githubLink" class="social"><img src="Images/github_5968866.png" alt=""></a></li>
                    <li>
                      <a href="mailto:abiodunfaithadedewe@gmail.com" class="social" id="emailLink">
                          <img src="Images/icons8-email.gif" alt="Email">
                      </a>
                  </li>                  
                    <li><a href="" class="social" id="linkedIn"><img src="Images/linkedin_2504923.png" alt="" /></a></li>
                  
                  </ul>
                  </p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="scripts.js"></script>

  </body>
</html>
