<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body style="padding: 1rem">
    // Add this to the section
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            src="Images/Professional_Pic.jpg"
            alt="A happy smilling customer"
          />
        </div>
        <div>
          <blockquote class="quote">
            <footer>
              <div class="media">
                <div class="media__image"></div>
                <div class="media__body">
                  <h3 class="media__title quote__author">Adedewe Abiodun</h3>
                  <p class="quote__organisation">Geospatial Technology Nexus</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </body>
</html>
